{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
<div align="left">
    <img src="https://cdn.discordapp.com/attachments/755825390806761655/953271623614607380/logoSymfony.jpg" />
</div>
    <h1 align="center" >Liste des formations</h1><br><br>
    <div class="container raw col-10" align="center">
        <table class="table shadow-lg p-3 mb-5 bg-body rounded" >
        <thead>
            <tr>
                <th>Date de début     </th>
                <th>Nombre d'heures     </th>
                <th>Departement    </th>
                <th>Produit     </th>
                <th>actions     </th>
            </tr>
        </thead>
        <tbody> 
        {% for formation in formations %}
            <tr>
                <td>{{ formation.dateDebut ? formation.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ formation.nbresHeures }}</td>
                <td>{{ formation.departement }}</td>
                <td>{{ formation.produit.libelle }}</td>
                <td>
                    <a href="{{ path('inscription_new', {'id': formation.id}) }}">S'inscrire</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de formations trouvées</td>
            </tr>
        {% endfor %}
    </table>
    </div>

<br><br>
    <h1 align = "center">Liste des formations déjà inscris</h1>  <br><br>
    <div class="container raw col-10" align="center">
        <table class="table shadow-lg p-3 mb-5 bg-body rounded" >
        <thead>
            <tr>
                <th>statut    </th>
                <th>employe    </th>
                <th>Departement </th>

            </tr>
        </thead>
            {% for inscription in inscriptions %}
                <tr>
                    
                    <td>{{ inscription.statut}}</td>
                    <td>{{ inscription.employe.nom }}</td>
                    <td>{{ inscription.formation.departement }}</td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Vous ne vous ètes pas encore inscrit à une formation</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
